/* @override http://placekitten.site/assets/css/placekitten.css */

/* @group Units */
.unit:after, .group:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.unit, .group { display: inline-block; }
* html .unit, * html .group { height: 1%; }
.unit, .group { display: block; }
/* @end */

/* @group Skiplinks */
#skip-links {
	/* Hide, but not from screen-readers */ 
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
}
/* @end */
body {
	color: #42413b;
	font-size: 87.5%; /* 14px */
	line-height: 1.57; /* 22px */
	-webkit-font-smoothing: antialiased;
}
h1,h2,h3 {
	color: #3E3D38;
	font-weight: bold;
	letter-spacing: -1px;
}
h4,h5,h6,h1 strong,h2 strong,h3 strong,h4 strong,h5 strong,h6 strong {
	color: #3E3D38;
}
#container {
	width: 824px;
	margin: 40px auto;
}
.amp {
	font-style: italic;
	line-height: 1%;
	font-family: Baskerville, Palatino, "Book Antiqua", serif;
}
a {	
	color: #5b9300;
	text-decoration: none;
	-webkit-transition: color 0.1s linear;
}
a:visited {
	color: #3f6700;
}
a:hover {
	color: #7fcd00;
}
a:active {
	color: #76be00;
}
header {
	width: 408px;
	float: left;
}
header h1 {
	margin: 0 0 36px 0;
	color: #999;
	font: normal normal 5em Baskerville, Palatino, "Book Antiqua", serif;
}
#unit-kitten-content {
	width: 400px;
	padding-right: 8px;
	height: 582px;
	float: left;
	position: relative;
}
#image-0 {
	position: absolute;
	bottom: 0;
}
#unit-kitten-content p:nth-child(3) {
	padding: 8px 16px;
	background: #444;
	color: white;
	font-weight: bold;
	width: 376px;
	position: absolute;
	bottom: 295px;
	margin-bottom: 0;
}
#unit-kitten-content p:nth-child(3) a {
	color: #c9e2b1;
	margin-left: 1em;
	font-family: monospace, sans-serif;
	-webkit-transition: color 0.2s linear;
}
#unit-kitten-content p:nth-child(3) a:hover {
	color: #FFF;
}
#unit-many-many-pictures-of-small-cats {
	width: 408px;
	float: right;
	margin-left: 8px;
	margin-bottom: 8px;
}
#image-1,#image-2,#image-3 {
	float: left;
}
#image-1 {
	margin-right: 8px;
}
#unit-many-many-pictures-of-small-cats img {
	margin-bottom: 8px;
}
#image-4,#image-5,#image-6,#image-7 {
	float: right;
}
#image-4 {
	margin-left: 8px;
}
#image-5 {
	margin-left: 8px;
}
#footer {
	font-size: 85.714%; /* 12px */
	clear: both;
	margin-top: 16px;
	border-top: 1px solid #D6D6D6;
	padding: 12px 0;
}
.page-attribution #unit-content header p {
	width: 50%;
	margin-bottom: 2em;
}
.page-attribution #unit-content header {
	width: 100%;
}
.page-attribution #unit-content p {
	font-size: 11px;
	width: 25%;
	float: left;
}
.page-attribution #unit-content p {
	font-size: 11px;
	margin-bottom: 1em;
}
.page-attribution #unit-content p:nth-child(4n-2) {
	clear: left;
}
.page-attribution #unit-content img {
	display: block;
	margin-bottom: 0.25em;
}
.page-attribution #unit-content span img {
	display: inline-block;
}